@import '../fast'

.class
	// --------------------------------------------------------------------
	// Background
	// --------------------------------------------------------------------

	// background
	bg url('image.jpg') no-repeat
	bg red
	bg t
	bg n
	bg i

	// background-image
	bgi url('hola.jpg')
	bgi i
	bgi n

	// background-repeat
	bgr x
	bgr y
	bgr n
	bgr r
	bgr i
	bgr no-repeat

	// background-color
	bgc t
	bgc rgb(255,0,255)
	bgc red
	bgc i

	// background-size
	bgz cv
	bgz ct
	bgz a
	bgz 50%
	bgz 50% 50%
	bgz 100px 100px

	// --------------------------------------------------------------------
	// Border and outline
	// --------------------------------------------------------------------

	// border
	bd 1px solid gray
	bd n


